/* 主体 */
.content{
    width: 1519px;
    height: 9103px;
    margin-top: 130px;
}
.part-one{
    position: relative;
    width: 100%;
    height: 680px;
}
.part-one img{
    width: 1519px;
}
.part-one-video{
    position: absolute;
    width: 49%;
    left: 3.2%;
    top: 18%;
}
.part-one-video video{
    width: 100%;
}
.part-one a{
    position: absolute;
    display: block;
    width: 592px;
    height: 550px;
    top: 8.5%;
    left: 59%;
    cursor: pointer;
}
/* 底部导航 */
.bottom-nav {
    position: relative;
    width: 1000px;
    height: 610px;
    margin: 75px auto 0;
    text-align: center;
}

.bottom-nav-container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.line {
    position: relative;
    width: 1000px;
    height: 30px;

    margin: 20px auto;
}

.line::before {
    content: "";
    position: absolute;
    width: 97%;
    height: 1px;
    top: 15px;
    left: 1.5%;
    background-color: #b7b7b7;

}

.bottom-nav ul {
    float: left;
    width: 240px;
    height: 280px;
    text-align: center;

}

.bottom-nav li {
    width: 100%;
    height: 20px;

}

.bottom-nav li a {
    color: #333;
    font-size: 14px;
}

.bottom-nav-tit {
    font-weight: bold;
    margin-bottom: 20px;
}

.blank {
    margin-bottom: 20px;
}

.bottom-nav-top {
    width: 100%;
    height: 280px;
    text-align: center;
    margin: 0 auto;
}

.bottom-nav-bottom {
    width: 720px;
    height: 280px;
    text-align: center;
    margin: 0 auto;
}