head,
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

/* 轮播图 */
.slider {
    position: relative;
    top: 0px;
    width: 100%;
    height: 630px;
    overflow: hidden;
}

.slider ul {

    height: 524px;
}

.slider ul li {
    position: absolute;
    display: none;
}

.slider ul li img {
    width: 1520px;
    height: 593px;
}

.slider ul li:first-child {
    display: block;
}

.arrow {
    display: none;
}

.arrow-left,
.arrow-right {
    font-family: "SimSun", "宋体";
    width: 40px;
    height: 100px;
    background-color: #000;
    background-color: #000;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

.arrow-left i {
    display: inline-block;
    position: absolute;
    width: 21px;
    height: 40px;
    background-image: url(../images/homeslide_arrow.png);
    background-position: 0 44px;
    top: 30%;
    left: 15%;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.arrow-right i {
    display: inline-block;
    position: absolute;
    width: 21px;
    height: 40px;
    background-image: url(../images/homeslide_arrow.png);
    background-position: 0 0;
    top: 30%;
    left: 20%;
}

.slider ol {
    position: absolute;
    height: 36px;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
}

.slider ol li {
    float: left;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    height: 15px;
    padding: 5px 0;
    margin-left: 8px;
    cursor: pointer;

}

.slider ol li {
    display: inline-block;
}

.slider ol li.current {
    color: #000;
    text-decoration: overline;
}

/* 主体 */
.content {
    width: 100%;
    height: 4187px;
    margin-top: 160px;
}


/* 热卖单品 */
.hot {
    width: 100%;
    height: 1105px;
    overflow: hidden;
}

.hot-title {
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    margin: 20px 0;
}

.hot-line {
    position: absolute;
    background-color: #b7b7b7;
    height: 1px;
    left: 1.5%;
    width: 97%;
}

.hot h1,
.new h1 {
    position: absolute;
    top: -15px;
    left: 380px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: rgb(51, 51, 51);
    padding: 0 40px;
    font-size: 30px;
    background-color: #fff;
    font-weight: normal;
    box-sizing: border-box;
}

/* 选项 */
.hot-items {
    float: left;
    display: block;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.hot-item {
    float: left;
    width: 24%;
    margin-top: 20px;
    text-align: center;
}

.hot-item:hover .hot-keyWords {
    text-decoration: underline;
}

.hot-keyWords {
    font-size: 24px;
    line-height: 30px;
}

.hot-menu-arrow {
    position: relative;
    width: 97%;
    height: 40px;
    margin-top: 20px;
    padding: 0 1.5%;
    overflow: hidden;
}

.hot-menu-arrow::before {
    content: "";
    position: absolute;
    width: 97%;
    height: 1px;
    top: 18px;
    left: 1.5%;
    background-color: #b7b7b7;
}

.hot-menu {
    position: absolute;
    width: 39px;
    height: 21px;
    background-image: url(../images/active.png);
    top: 18px;
    left: 100px;
}

.product-lists {
    position: relative;
    width: 100%;
    height: 670px;
    display: none;
    overflow: hidden;
    opacity: 0;
}

.active {
    display: block;
    opacity: 1;
}

.product-lists ul {
    width: 100%;
    height: 300px;
    padding-bottom: 19px;
    border-bottom: 1px dotted #b7b7b7;
    margin: 20px auto 0;
    display: inline-block;
    overflow: hidden;
}

.product-lists ul:last-child {
    border-bottom: 0;
}

.hot-pro-list {
    position: relative;
    float: left;
    width: 25%;
    height: 300px;
    font-size: 12px;
    box-sizing: border-box;
}

.hot-pro-list a {
    display: inline-block;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
}

.hot-pro-list img {
    width: 165px;
    height: 165px;
    margin-bottom: 12px;
}

.hot-pro-list p {
    color: #333;
    margin-bottom: 35px;
}

.hot .hot-pro-list .del {
    display: block;
    text-decoration: line-through;
}

.hot .hot-pro-list .now {
    color: red;
}

.hot-pro-list:hover {
    border: 1px solid #b7b7b7;
}

.viewAll-button {
    width: 420px;
    height: 48px;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    margin-top: 12px;
    display: none;
}

.viewAll-button a {
    height: 48px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
}

.viewAll-button a::after {
    content: "";
    width: 20px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/sprites_header_footer.png);
    background-position: -9px -163px;
    margin-left: 15px;
    box-sizing: border-box;
}

.viewAll-btnActive {
    display: block;
}

.viewAll-button:hover {
    background-color: #fff;
    border: 1px solid #000;
}

.viewAll-button a:hover {

    color: #000;

}

.viewAll-button a:hover::after {
    -webkit-transition-duration: .3s;
    background-position: -42px -163px;
}

/* 新品推荐 */
.new {
    width: 100%;
    height: 1373px;
    margin-top: 35px;
}

.new-product-lists ul:first-child {
    margin: 0;
}

.new-product-lists ul:last-child {
    border-bottom: 0;
}

.new .new-product-lists {
    position: relative;
    width: 100%;
    height: 1323px;
    overflow: hidden;
}

.new-product-lists ul {
    float: left;
    width: 100%;
    height: 300px;
    margin: 20px auto 0;
    padding-bottom: 19px;
    border-bottom: 1px dotted #b7b7b7;
}

.new-pro-list {
    position: relative;
    float: left;
    width: 25%;
    height: 300px;
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
}

.new-pro-list a {
    display: inline-block;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
}

.new-pro-list img {
    width: 165px;
    height: 165px;
    margin-bottom: 12px;
}

.new-pro-list p {
    color: #333;
    margin-bottom: 35px;
}

.new-pro-list:hover {
    border: 1px solid #b7b7b7;
}


/* 街头先型 */
.street {
    width: 100%;
    height: auto;
    margin-top: 88px;
}

.street-title {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #464646;
    color: #fff;
}

.street-title img {
    position: absolute;
    top: 10px;
    left: 20px;
}

.street-title h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0 0 50px;
}

.street-content {
    width: 100%;
    height: 480px;
    margin: 20px auto 0;
    overflow: hidden;
    margin-bottom: 42px;
}

.street-item {
    float: left;
    width: 488px;
    height: 476px;
}

.street-item:first-child {
    margin-right: 24px;
}

.street-item .item-product {
    position: relative;
    display: inline-block;
    width: 490px;
    height: 368px;
    border: 1px solid #b7b7b7;
    box-sizing: border-box;
}

.street-item:hover .mask {
    display: block;
}

/* 遮罩层 */
.mask {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/mask.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    display: none;
}

.item-describe {
    color: #000;
    font-size: 22px;
}

.item-describe:hover {
    text-decoration: underline;
    color: #999;
}

.item-describe h2 {
    margin: 17px 0 17px 0;
}

.viewMore {
    width: 200px;
    height: 47px;
    background-color: #000;
    text-align: center;
}

.viewMore a {
    color: #fff;
    font-size: 16px;
    line-height: 47px;
    padding: 0 3px 0 7px;
}

.viewMore a::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 30px;
    background-image: url(../images/sprites_header_footer.png);
    background-position: -9px -163px;
    vertical-align: middle;
    margin-left: 13px;
}

.viewMore:hover {
    background-color: #fff;
    border: 1px solid #000;
}

.viewMore:hover a {
    color: #000;
}

.viewMore:hover a::after {
    content: "";
    background-image: url(../images/sprites_header_footer.png);
    background-position: -39px -163px;
}

.choiceness {
    width: 100%;
    height: 394px;
}

.choiceness-content {
    width: 100%;
    height: 334px;
    margin: 20px auto 0;
    overflow: hidden;
}

.choiceness-content ul {
    width: 100%;
    height: 334px;
}

.choiceness-item {
    float: left;
    width: 320px;
    height: 334px;
    margin-right: 20px;
}

.choiceness-item:hover .mask {
    display: block;
}

.choiceness-item:last-child {
    margin-right: 0;
}

.choiceness-item .choice-img {
    position: relative;
    display: inline-block;
    width: 322px;
    height: 242px;
    border: 1px solid #b7b7b7;
}


.choice-img img {
    width: 322px;
    height: 242px;
}

.choiceness-describe {
    color: #000;
    font-size: 22px;
    display: block;
    margin: 13px 0 13px 0;
    font-weight: bold;
}

.choiceness-viewmore {
    margin-top: 6px;
    line-height: 42px;
    font-size: 18px;
    color: #333;
    text-align: left;
    text-decoration: underline;
}

.choiceness-viewmore::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 30px;
    background-image: url(../images/arrow1.png);
    background-position: -20px -1px;
    vertical-align: middle;
    margin-left: 13px;
}

.choiceness-viewmore:hover {
    color: #999;
    text-decoration: underline;
}

.choiceness-viewmore:hover::after {
    background-image: url(../images/arrow1.png);
    background-position: 0px 0px;
}

/* 关注CONVERSE */
.attention {
    position: relative;
    width: 100%;
    height: 360px;
    margin-top: 80px;
    text-align: center;
    color: #fff;
    background-color: #464646;
}

.attention h1 {
    display: inline-block;
    font-size: 30px;
    margin: 78px auto 35px;
    font-weight: normal;
}

.attention p {
    font-size: 16px;
    line-height: 24px;
}

.social-software {
    width: 210px;
    height: 155px;
    margin: 37px auto 0;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.social-software a:first-child {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url(../images/share.png);
    background-position: 75px 0;
    margin-right: 15px;
}

.social-software a:first-child {
    float: left;
}

.social-software a:first-child:hover {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url(../images/share.png);
    background-position: 0 0;
}

.social-software a:nth-child(2) {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url(../images/share.png);
    background-position: 75px 300px;
}

.social-software a:nth-child(2):hover {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url(../images/share.png);
    background-position: 0 300px;
}

/* 底部导航 */
.bottom-nav {
    position: relative;
    width: 1000px;
    height: 610px;
    margin: 75px auto 0;
    text-align: center;
}

.bottom-nav-container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.line {
    position: relative;
    width: 1000px;
    height: 30px;

    margin: 20px auto;
}

.line::before {
    content: "";
    position: absolute;
    width: 97%;
    height: 1px;
    top: 15px;
    left: 1.5%;
    background-color: #b7b7b7;

}

.bottom-nav ul {
    float: left;
    width: 240px;
    height: 280px;
    text-align: center;

}

.bottom-nav li {
    width: 100%;
    height: 20px;

}

.bottom-nav li a {
    color: #333;
    font-size: 14px;
}

.bottom-nav-tit {
    font-weight: bold;
    margin-bottom: 20px;
}

.blank {
    margin-bottom: 20px;
}

.bottom-nav-top {
    width: 100%;
    height: 280px;
    text-align: center;
    margin: 0 auto;
}

.bottom-nav-bottom {
    width: 720px;
    height: 280px;
    text-align: center;
    margin: 0 auto;
}

