head,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.content {
    margin-top: 130px;
    width: 100%;
    height: 1000px;
}

.ornaments-title {
    position: relative;
    width: 1000px;
    height: 30px;
    padding-top: 40px;
    padding-bottom: 45px;
    margin:0 auto;
}

.ornaments-title::before {
    content: "";
    position: absolute;
    top: 54px;
    left: 0;
    width: 970px;
    height: 1px;
    background-color: #b7b7b7;
}
.ornaments-title h1{
    position: absolute;
    top: 40px;
    left: 335px;
    width: 300px;
    height: 30px;
    background-color: #fff;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
}
.container{
    width: 1000px;
    height: 2270px;
    margin: 20px auto 0;
    overflow: hidden;
}
.ornaments-left{
    float: left;
    width: 25%;
    height: 497px;
    background-color: lightcoral;
}
.ornaments-right{
    float: left;
    width: 75%;
    height: 1270px;
    background-color: lightcyan;
}
.ornaments-right-tit{
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    background-color: lightgreen;
}
.ornaments-right-tit .tit-list{
    display: inline-block;
    float: left;
}
.product{
    float: left;
    width: 100%;
}
.product ul{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.product ul>li{
    float: left;

}